/* ---General styles--- */
* {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

/* --Main header Container */

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
  position: relative;
  margin: 0 auto;
}

/* --Header--- */

header {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 60px;
  align-items: center;
  margin: 0 0 0 -15px;
}

/* --Menu bar-- */

.menu-bar {
  display: flex;
  justify-content: space-between;
  width: 375px;
  margin: 34px;
  align-items: center;
}

/* --Logo-- */

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #6070ff;
  margin-left: 25px;
}

/* ---h1 - h6--- */

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-style: normal;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-style: normal;
}

a {
  color: #6070ff;
  text-decoration: none;
  line-height: 24px;
}

h2 a {
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
}

h3 a {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

h3 a:hover {
  font-style: normal;
  font-weight: 500;
  color: #7f8cff;
}

/* --Paragraphs-- */
p {
  color: #344563;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  margin-top: 30px;
}

/* --Link tags-- */
.link-container,
li,
ul {
  list-style: none;
  display: inline;
  padding: 1px;
  margin: 3px 20px 0 -1px;
}

/* --Main-section-- */
.main-content {
  background-image: url("../Assets/images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: 375px, 668px;
  width: 375px;
  height: 718px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0 10px 0;
}

/* --Bottom header section-- */
.sub-heading {
  display: block;
  font-style: normal;
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
}

span {
  display: block;
}

.skills-pictures {
  display: inline-block;
}

.work li {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.programnming-languages li {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  color: #6070ff;
  border-radius: 8px;
  background-color: #ebebff;
  margin: 1px;
  padding: 4px 12px;
  position: relative;
}

.languages ul li {
  display: flex;
  flex-direction: column;
}

i {
  float: right;
  border: 0 solid #b2bdc9;
  color: #acb7c3;
}

.frameworks.skills {
  padding: 5px;
}

.greyback {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f9;
  width: 100%;
  gap: 50px;
  margin: 5px 0;
  height: 66.72px;
}

.lang {
  pointer-events: none;
}

h2 a:hover {
  border-radius: 8px;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: #6070ff;
}

h2 a:active {
  border-radius: 8px;
  color: rgb(255, 255, 255);
  border: 1px solid #2230d2;
  padding: 10px;
  background-color: #2230d2;
}

.project-works {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  margin: 0 auto;
}

.project-works ul {
  padding-left: 1px;
}

.big-project p {
  color: #344563;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  margin-top: 30px;
}

.programnming-languages {
  margin: 5px 1px 0 1px;
}

.canopy {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.contact-form {
  background-image: url("../Assets/images/contact-section.png");
  background-repeat: no-repeat;
  background-size: 375px, 668px;
  width: 375px;
  height: 779px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0 10px 0;
  background-color: #6070ff;
}

fieldset{
	display:flex;
	justify-content: center;
	flex-direction: column;

}

.contact-form button{
	display:flex;
}

.contact-form h2{
	display:flex;
	align-items: flex-start;
	font-style: normal;
	justify-content: center;
	margin-right: 70px;
	text-align: center;
	font-size: 40px;
	line-height: 52px;
	font-weight: 700;
	font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
	color: #ffffff;
	margin-top: 155px;
	
}

.contact-form p{
	width: 372px;
	height:102px;
	font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
line-height: 28px;
text-align: center;
bottom: 55px;
position:relative;
color:#fff;
}

fieldset{
	margin: 0;
	padding: 0;
	border: none
}

button{
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
		margin-top: 13px;
}

button:hover {
	border-radius: 8px;
	color: rgb(255, 255, 255);
	padding: 10px;
	background-color: #6070ff;
}

button:active {
	border-radius: 8px;
	color: rgb(255, 255, 255);
	border: 1px solid #2230d2;
	padding: 10px;
	background-color: #2230d2;
}

textarea{
	width:327px;
	height:170px;
	radius:8px;
	border-radius: 8px;
	border: 1px solid #cfd8dc;
}

fieldset{
	display:flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	margin-left: 12px;
}

input{
	width: 327px;
	height: 48px;
	radius:8px;
	border-radius: 8px;
	border: 1px solid #cfd8dc;
}