* {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
  position: relative;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 60px;
  align-items: center;
  margin: 0 0 0 -15px;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  width: 375px;
  margin: 34px;
  align-items: center;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #6070ff;
  margin-left: 25px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-style: normal;
}

p {
  color: #344563;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  margin-top: 30px;
}

a {
  color: #6070ff;
  text-decoration: none;
  line-height: 24px;
}

h3 a:hover {
  font-style: normal;
  font-weight: 500;
  color: #7f8cff;
}

.link-container,
li,
ul {
  list-style: none;
  display: inline;
  padding: 1px;
  margin: 3px 20px 0 -1px;
}

.main-content {
  background-image: url("../Assets/images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: 375px, 668px;
  width: 375px;
  height: 718px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0 10px 0;
}

.sub-heading {
  display: block;
  font-style: normal;
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
}

span {
  display: block;
}
